<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="DatabaseType" value="SQLSERVER" />
    <add key="IsEncrptDbString" value="FALSE" />
    <add key="ConnectionString" value="server=WIN-LAKURMHKK2I\SQLSERVER2012;database=bestabet;uid=sa;pwd=bfb_Welcome@sklc;" />
    <add key="TransactionIsolationLevel" value="ReadUncommitted" />
    <add key="WebServerName" value="localhost" />
    <add key="URIScheme" value="http" />
  </appSettings>
</configuration>
